@model QLKTXWEBSITE.Models.BedOfRoom

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1>Sửa</h1>

<h4>Thông tin giường</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BedId" />
            <div class="form-group">
                <label asp-for="NumberBed" class="control-label">Giường số</label>
                <input asp-for="NumberBed" class="form-control" />
                <span asp-validation-for="NumberBed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">Trạng thái</label>
                <select asp-for="Status" class="form-control">
                    <option value="false">Giường trống</option>
                    <option value="true">Giường đã có sinh viên</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
