@model QLKTXWEBSITE.Models.Room

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1>Sửa thông tin</h1>

<h4>Phòng @Html.DisplayFor(model => model.NumberRoom)</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="row">
                <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoomId" />
            <div class="form-group">
                <label asp-for="Mowroom" class="control-label">Phòng</label>
                <select asp-for="Mowroom" class="form-control">
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
                <span asp-validation-for="Mowroom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Building" class="control-label">Toà</label>
                <select asp-for="Building" class="form-control">
                    <option value="A">A</option>
                    <option value="B">B</option>
                </select>
                <span asp-validation-for="Building" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Floor" class="control-label">Tầng</label>
                <input asp-for="Floor" class="form-control" />
                <span asp-validation-for="Floor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberRoom" class="control-label">Phòng số</label>
                <input asp-for="NumberRoom" class="form-control" />
                <span asp-validation-for="NumberRoom" class="text-danger"></span>
            </div>
            </div>
                <div class="col-md-6">
            <div class="form-group">
                <label asp-for="BedNumber" class="control-label">Số giường</label>
                <input asp-for="BedNumber" class="form-control" />
                <span asp-validation-for="BedNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfStudents" class="control-label">Số sinh viên</label>
                        <input asp-for="@ViewData["NumberOfStudents"]" class="form-control" />
                        <span asp-validation-for="NumberOfStudents" class="text-danger"></span>
            </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label">Trạng thái</label>
                        <select asp-for="Status" class="form-control">
                            <option value="True">Đầy</option>
                            <option value="False">Trống</option>
                        </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group m-auto">
                <button type="submit" class="btn btn-primary">Lưu</button>
            </div>
        </form>
    </div>
</div>

<div class="mb-5">
    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
