@model QLKTXWEBSITE.Models.Service

@{
    ViewData["Title"] = "Tạo mới";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1>Tạo mới</h1>

<h4>Dịch vụ</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ServiceName" class="control-label">Tên dịch vụ</label>
                    <select asp-for="ServiceName" class="form-control">
                        <option value="Điện">Điện</option>
                        <option value="Nước">Nước</option>
                    </select>
                    <span asp-validation-for="ServiceName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Month" class="control-label">Dịch vụ tháng (Năm 2024)</label>
                    <select id="Month" asp-for="Month" class="form-control">
                        <option value="1">Tháng 1</option>
                        <option value="2">Tháng 2</option>
                        <option value="3">Tháng 3</option>
                        <option value="4">Tháng 4</option>
                        <option value="5">Tháng 5</option>
                        <option value="6">Tháng 6</option>
                        <option value="7">Tháng 7</option>
                        <option value="8">Tháng 8</option>
                        <option value="9">Tháng 9</option>
                        <option value="10">Tháng 10</option>
                        <option value="11">Tháng 11</option>
                        <option value="12">Tháng 12</option>
                    </select>
                    <span asp-validation-for="Month" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label">Số tiền thanh toán</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Room.Building" class="control-label">Khu vực</label>
                    <select id="Building" asp-for="Room.Building" class="form-control">
                        <option value="O">Vui lòng chọn toà</option>
                        <option value="D">Toà D</option>
                        <option value="E">Toà E</option>
                        <option value="G">Toà G</option>
                    </select>
                    <span asp-validation-for="Room.Building" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RoomId" class="control-label">Phòng số</label>
                    <select id="RoomId" asp-for="RoomId" class="form-control">
                        <option value="O">Vui lòng chọn phòng</option>
                    </select>
                    <span asp-validation-for="RoomId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudentId" class="control-label">Họ và tên sinh viên</label>
                    <select id="StudentId" asp-for="StudentId" class="form-control"></select>
                </div>
                <div class="form-group" style="display:none;">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control">
                        <option value="false">False</option>
                        <option value="true">True</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Tạo mới" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="mb-5">
    <a asp-action="Index">Quay lại danh sách</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#Building').change(function () {
                var building = $(this).val(); // Lấy giá trị của "Toà" đã chọn
                // Gửi yêu cầu Ajax để lấy danh sách các "Số phòng" thuộc "Toà" đó
                $.ajax({
                    url: '/AdminQL/Services/GetRoomsByBuilding', // Đường dẫn tới action để lấy danh sách "Số phòng"
                    type: 'GET',
                    data: { building: building }, // Truyền tham số "Toà"
                    success: function (data) {
                        // Xóa tất cả các option trong dropdown list "Số phòng"
                        $('#RoomId').empty();
                        // Thêm các option mới vào dropdown list "Số phòng" dựa trên dữ liệu lấy được
                        $.each(data, function (key, value) {
                            $('#RoomId').append('<option value="' + value.value + '">' + value.text + '</option>');
                        });
                    }
                });
            });
        });
        $('#RoomId').change(function () {
            var roomId = $(this).val(); // Lấy giá trị của "Số phòng" đã chọn
            // Gửi yêu cầu Ajax để lấy danh sách sinh viên thuộc "Số phòng" đó
            $.ajax({
                url: '/AdminQL/Services/GetStudentsByRoom', // Đường dẫn tới action để lấy danh sách sinh viên
                type: 'GET',
                data: { roomId: roomId }, // Truyền tham số "Số phòng"
                success: function (data) {
                    // Xóa tất cả các option trong dropdown "Sinh viên"
                    $('#StudentId').empty();
                    // Thêm các option mới vào dropdown "Sinh viên" dựa trên dữ liệu lấy được
                    $.each(data, function (key, value) {
                        $('#StudentId').append('<option value="' + value.value + '">' + value.text + '</option>');
                    });
                }
            });
        });
    </script>
}
