@model QLKTXWEBSITE.Models.Service

@{
    ViewData["Title"] = "Chỉnh sửa dịch vụ";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1>Chỉnh sửa dịch vụ</h1>

<div class="container mb-5">
    <h4>Dịch vụ</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ServiceId" />
                <div class="form-group" style="display:none;">
                    <label asp-for="StudentId" class="control-label">Họ và tên </label>
                    <input asp-for="StudentId" class="form-control" />
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:none;">
                    <label asp-for="RoomId" class="control-label">Phòng số</label>
                    <input asp-for="RoomId" class="form-control" />
                    <span asp-validation-for="RoomId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ServiceName" class="control-label">Tên dịch vụ</label>
                    <input asp-for="ServiceName" class="form-control" />
                    <span asp-validation-for="ServiceName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Month" class="control-label">Tháng (Năm 2024)</label>
                    <select asp-for="Month" class="form-control">
                        <option value="1">Tháng 1</option>
                        <option value="2">Tháng 2</option>
                        <option value="3">Tháng 3</option>
                        <option value="4">Tháng 4</option>
                        <option value="5">Tháng 5</option>
                        <option value="6">Tháng 6</option>
                        <option value="7">Tháng 7</option>
                        <option value="8">Tháng 8</option>
                        <option value="9">Tháng 9</option>
                        <option value="10">Tháng 10</option>
                        <option value="11">Tháng 11</option>
                        <option value="12">Tháng 12</option>
                    </select>
                    <span asp-validation-for="Month" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label">Số tiền</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label">Trạng thái</label>
                    <select asp-for="Status" class="form-control">
                        <option value="false">Chưa thanh toán</option>
                        <option value="true">Đã thanh toán</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
