@model QLKTXWEBSITE.Models.Student

@{
    ViewData["Title"] = "Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:660px">
    <section class="h-100 bg-image"
             style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class=" text-center mb-5">Đăng ký tài khoản</h2>

                                <form asp-action="Create">
                                    <div class="row d-flex">
                                        <div class="form-outline mb-4 col-6">
                                            <input asp-for="FullName" type="text" id="form3Example1cg" class="form-control form-control-lg custom-input"
                                                   placeholder="Tên của bạn" required />
                                        </div>
                                        <div class="form-outline mb-4 col-6">
                                            <input asp-for="StudentCode" type="text" id="form3Example3cg" class="form-control form-control-lg custom-input"
                                                   placeholder="Mã sinh viên" required />
                                        </div>
                                    </div>

                                    <div class="row d-flex">
                                        <div class="form-outline mb-4 col-6">
                                            <select asp-for="Dhid" class="form-controlcustom-input" id="inputGroupSelect02" style="height:46px; color:#6c757d" asp-items="ViewBag.Dhid"></select>
                                        </div>
                                        <div class="form-outline mb-4 col-6">
                                            <select asp-for="Gender" class="form-control  custom-input" id="inputGroupSelect02" style="height:46px; color:#6c757d">
                                                <option value="Chưa chọn">Giới tính</option>
                                                <option value="Nam">Nam</option>
                                                <option value="Nữ">Nữ</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="row d-flex">
                                        <div class="form-outline mb-4 col-6">
                                            <input asp-for="Password" type="password" id="form3Example4cg" class="form-control form-control-lg custom-input"
                                                   placeholder="Mật khẩu" required />
                                            @* <label class="form-label" for="form3Example4cg">Mật khẩu</label> *@
                                        </div>

                                        <div class="form-outline mb-4 col-6">
                                            <input type="password" id="form3Example4cdg" class="form-control form-control-lg custom-input"
                                                   placeholder="Nhập lại mật khẩu" required />
                                            @* <label class="form-label" for="form3Example4cdg">Nhập lại mật khẩu</label> *@
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit"
                                                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body col-3">
                                            Đăng ký
                                        </button>
                                    </div>

                                    <p class="text-center text-muted mt-5 mb-0">
                                        Bạn đã có tài khoản <a asp-controller="Login" asp-action="Index" class="fw-bold text-body"><u>Đăng nhập</u></a>
                                    </p>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}