@model QLKTXWEBSITE.Models.Student

@{
    ViewData["Title"] = "Change Password";
}

<style>
    /* Container styles */
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    /* Form styles */
    .form-group {
        margin-bottom: 20px;
    }

    .control-label {
        font-weight: bold;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s ease;
    }

        .form-control:focus {
            outline: none;
            border-color: dodgerblue;
        }

    .btn-primary {
        display: inline-block;
        padding: 10px 20px;
        background-color: dodgerblue;
        color: #fff;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .btn-primary:hover {
            background-color: #007bff;
        }

    .link {
        color: dodgerblue;
        text-decoration: none;
    }

        .link:hover {
            text-decoration: underline;
        }

    .text-danger {
        color: red;
    }

    /* Validation message styles */
    .validation-summary-errors {
        margin-bottom: 20px;
    }

        .validation-summary-errors ul {
            list-style-type: none;
        }

        .validation-summary-errors li {
            color: red;
        }
</style>
<h1>Đổi mật khẩu</h1>

<div>
    <form asp-action="ChangePassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="StudentId" />
        <div class="form-group">
            <label asp-for="Password" class="control-label">Mật khẩu cũ:</label>
            <input type="password" asp-for="Password" class="form-control" placeholder="Nhập mật khẩu cũ" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="control-label">Mật khẩu mới:</label>
            <input type="password" name="NewPassword" class="form-control" placeholder="Nhập mật khẩu mới"/>
            <span class="text-danger">@Html.ValidationMessage("NewPassword")</span>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="control-label">Xác nhận mật khẩu mới:</label>
            <input type="password" name="ConfirmNewPassword" class="form-control" placeholder="Nhập lại mật khẩu mới" />
            <span class="text-danger">@Html.ValidationMessage("ConfirmNewPassword")</span>
        </div>

        <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
    </form>
</div>
<div>
    <a href="#" onclick="window.history.back();" class="link">Quay lại</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
