* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-decoration: none;
    color: black;
    list-style: none;
}

html {
    font-size: 20px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

header {
    margin: 5px 10px;
}

.navbar-nav {
    margin-top: 40px;
    display: flex;
    padding-left: 40px;
    font-size: 16px;
}

.a-title::before {
    content: "";
    position: absolute;
    bottom: 5px;
    width: 0%;
    right: 0; 
    height: 5px; 
    background: green; 
    transition: 0.3s linear; 
    z-index: 1; 
}

.a-title:hover::before {
    width: 100%;
    left: 0%;
}

.dk-dn .registry:hover,
.sigin:hover {
    color: rgb(73, 170, 0);
}

.recent-project a,
.recent-project h5 {
    color: #00a2ff;
}

.proprietary .overlay {
    background-color: rgba(0, 0, 0, 0.4);
}

.proprietary .card:hover .overlay {
    display: flex !important;
    cursor: pointer;
}

.form-contact textarea,
.form-contact input {
    background-color: rgba(0, 0, 0, 0.1);
}

    .form-contact textarea::placeholder,
    .form-contact input::placeholder {
        color: #999;
        font-style: italic;
    }


.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}

.gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.custom-input::placeholder {
    font-size: 16px; /* Adjust the font size as needed */
}

.thong_bao {
    position: relative;
}

    .thong_bao::before {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: red;
        border: solid 3px red;
        border-radius: 50px;
        /*display:none;*/
    }

    .thong_bao .noi_dung {
        position: absolute;
        right: 0;
        margin-top: 10px;
        width: 250px;
        opacity: 0.5;
        background-color: #ccc;
        border: solid 2px #63E6BE;
        border-radius: 10px;
        display: none;
        z-index:1;
    }

.user {
    position: relative;
}

    /*.user::before {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: green;
        border: solid 3px red;
        border-radius: 50px;*/
    /*display:none;*/
    /*}*/

    .user .menu_user {
        position: absolute;
        right: 0;
        margin-top: 10px;
        width: 250px;
        opacity: 0.5;
        background-color: #ccc;
        border: solid 2px #63E6BE;
        border-radius: 10px;
        display: none;
    }


.noi_dung li:hover div {
    background-color: #fff;
    border-radius: 10px;
}

.menu_user li:hover div {
    background-color: #fff;
    border-radius: 10px;
}


/*footer*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

body {
    background-color: #f3f6fd;
    font-size: 13px;
    font-weight: bold;
    color: rgb(189, 196, 203)
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

    ul > li {
        padding: 4px;
        color: #C5CAE9;
    }

        ul > li:hover {
            color: green;
            cursor: pointer
        }

hr {
    border-width: 3px
}

.card {
    padding: 2% 7%;

}

.social > i {
    padding: 1%;
    font-size: 15px
}

    .social > i:hover {
        color: green;
        cursor: pointer
    }

.policy > div {
    padding: 4px
}

.heading {
    font-family: 'Titillium Web', sans-serif;
    color: black
}

.divider {
    border-top: 2px solid green;
}

/*contact*/
 

/*index*/

@keyframes showSd {
    from {
        box-shadow: 0px 0px 0px 0px #dfdfdf;
    }

    to {
        box-shadow: 0px 0px 60px 10px #dfdfdf;
    }
}

.card:hover {
    box-shadow: 0px 0px 60px 10px #dfdfdf;
    animation: showSd 1s;
}

