@model QLKTXWEBSITE.Models.Admin

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,700">
<div class="section">
<div class="cont">
    <div class="main-box">
        <div class="create d-flex justify-content-center ">
            <div class="col-md-4">
                  <form asp-action="Create">
                        <!-- FullName input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="fullName">Họ và tên</label>
                            <input asp-for="FullName" type="text" id="fullName" class="form-control" required />
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example1">Email</label>
                            <input asp-for="Email" type="email" id="form2Example1" class="form-control" required />
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example2">Mật khẩu</label>
                            <input asp-for="Password" type="password" id="form2Example2" class="form-control" required />
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4 col-md-3">Đăng ký</button>
                    </form>
             </div>    
        </div>
    </div>
</div>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
