﻿﻿@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<aside class="main-sidebar sidebar-dark-primary elevation-4 position-fixed">
    <!-- Brand Logo -->
    <a href="/adminql/dashboard" class="brand-link">
        <img src="~/dist/img/logo.png" alt="Logo Hunre" class="" width="75px">
        <span class="brand-text font-weight-light ms-2">Quản lý kí túc xá</span>
    </a>

    <!-- Sidebar
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex position-fixed bottom-0 ">
            <div class="image">
                <img src="~/dist/img/logo.png" class="img-circle elevation-2" alt="Logo-Hunrre">
            </div>
            <div class="info">
                @{
                    if (HttpContextAccessor.HttpContext.Session.GetString("AdminLogin") != null)
                    {
                        <a href="#" class="d-block">@HttpContextAccessor.HttpContext.Session.GetString("AdminLogin")</a>
                        <a asp-action="Logout" asp-controller="Login">Đăng xuất</a>
                    }
                    else
                    {
                        <a href="#" class="d-block">DamQuocDan</a>
                    }
                }


            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
             
                <li class="nav-item">
                    <a href="/adminql/admins" class="nav-link">
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center" style="width: 30px">
                            <i class="fa-solid fa-user-tie fa-xl"></i>
                        </div>
                        <p class="ms-3">
                            Tài khoản Admin
                        </p>
                    </div>
                </a>
                </li>
                <li class="nav-item">
                    <a href="/adminql/rooms" class="nav-link">
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center" style="width: 30px">
                            <i class="fa-solid fa-house-user fa-xl"></i>
                        </div>
                        <p class="ms-3">
                            Quản lý phòng
                        </p>
                    </div>
                </a>
                </li>
                <li class="nav-item">
                    <a href="/adminql/services" class="nav-link">
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center" style="width: 30px">
                            <i class="fa-solid fa-list fa-xl"></i>
                        </div>
                        <p class="ms-3">
                            Quản lý dịch vụ
                        </p>
                    </div>
                </a>

                </li>
                <li class="nav-item">
                    <a href="/adminql/news" class="nav-link">
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center" style="width: 30px">
                            <i class="fa-regular fa-newspaper fa-xl"></i>
                        </div>
                        <p class="ms-3">
                            Quản lý tin tức
                        </p>
                    </div>
                    </a>

                </li>
                <li class="nav-item">
                    <a href="/adminql/students" class="nav-link">
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center" style="width: 30px">
                            <i class="fa-solid fa-graduation-cap fa-xl"></i>
                        </div>
                        <p class="ms-3">
                            Quản lý sinh viên
                        </p>
                    </div>
                    </a>

                </li>
                <li class="nav-item">
                    <a href="/adminql/transactions" class="nav-link">
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center" style="width: 30px">
                            <i class="fa-solid fa-wallet fa-xl"></i>
                        </div>
                        <p class="ms-3">
                            Quản lý thanh toán
                        </p>
                    </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/adminql/occupancies" class="nav-link">
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center" style="width: 30px">
                            <i class="fa-solid fa-file-signature fa-xl"></i>
                        </div>
                        <p class="ms-3">
                            Quản lý hợp đồng
                        </p>
                    </div>
                    </a>

                </li>

            </ul>
        </nav>

    </div>
</aside>