
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KTX HUNRE</title>
    <link rel="icon" type="image/x-icon" href="~/favicon-32x32.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QLKTXWEB.styles.css" asp-append-version="true" />
    <style>
        #dropdown_menu {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: white;
            border: 1px solid #ccc;
            padding: 10px 0;
        }

        .user:hover #dropdown_menu {
            display: block;
        }

        .background{
            background-color: #cefdfb;
            background-image: linear-gradient(180deg, #cefdfb 0%, #8deaff 100%);
            width:100%;
            height:100%;
            z-index:0;
        }
    </style>
</head>
<body class="mb-0 position-relative ">
    <div class="positon-absolute ">
    </div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/dist/img/logo.png" width="100" title="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mt-0 ms-3 ps-0 d-flex align-items-center">
                        <li class="nav-item ">
                            <a class="nav-link a-title position-relative" style="font-size:1.3rem; font-weight:500; color:green" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link a-title position-relative" style="font-size:1.3rem; font-weight:500; color:green" asp-area="" asp-controller="Home" asp-action="Aboutus">Về kí túc xá</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link a-title position-relative" style="font-size:1.3rem; font-weight:500; color:green" asp-area="" asp-controller="News" asp-action="Index">Tin tức</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link a-title position-relative" style="font-size:1.3rem; font-weight:500; color:green" asp-area="" asp-controller="Home" asp-action="Service">Dịch vụ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link a-title position-relative" style="font-size:1.3rem; font-weight:500; color:green" asp-area="" asp-controller="Students" asp-action="Contact">Liên hệ</a>
                        </li>
                    </ul>
                    <div class="dk-dn d-flex position-absolute end-0">
                        <div class="user me-4">
                            <button id="button_user" type="button" class="border-0">
                                <i class="fa-regular fa-user fa-2xl" style="color: #63E6BE;"></i>
                            </button>
                            <ul id="dropdown_menu" class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="StudentUser" asp-controller="StudentsRegister" asp-action="Create">Đăng ký</a></li>
                                <li><a class="dropdown-item" asp-area="StudentUser" asp-controller="Login" asp-action="Index">Đăng nhập</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="z-index:inherit">
        <main role="main">
            @RenderBody() 
        </main>
       
    </div>
    <button type="button" class="btn btn-success" id="btnScrollToTop" hidden><i class="fa-solid fa-arrow-up fa-xl" style="color: #fff;"></i></button>
    <footer class="w-100">
        <div class="container-fluid mt-5">
            <div class="card bg-white pb-0">
                <div class="row mb-4">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="footer-text pull-left">
                            <div class="d-flex">
                                <img src="~/img/logofooter.png" alt="Hunre" style="width:500px;background-color:#ccc" />
                            </div>
                            <p class="text-uppercase fw-bold mb-0 pt-2" style="font-size:18px">Trường Đại học Tài nguyên và Môi trường Hà Nội</p>
                            <p class="mb-0">Địa chỉ: 
                                <a href="https://maps.app.goo.gl/Cn3Rk12pYxJJ8ucf8" target="_blank">
                                    41A Đ. Phú Diễn, Phú Diễn, Bắc Từ Liêm, Hà Nội, Việt Nam
                                </a>
                             </p>
                            <p class="mb-0">Điện thoại: 0999.999.999</p>
                            <p class="mb-0">Email: <a href="mailto:DHTNMT@hunre.edu.vn">DHTNMT@hunre.edu.vn</a></p>
                            <div class="social mt-2 mb-3"> <i class="fa-brands fa-facebook fa-xl"></i> <i class="fa-brands fa-youtube fa-xl"></i> <i class="fa-brands fa-tiktok fa-xl"></i></div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <h5 class="heading">Dịch vụ</h5>
                        <ul class="ps-0">
                            <li>IT Consulting</li>
                            <li>Development</li>
                            <li>Cloud</li>
                            <li>Support</li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <h5 class="heading">Tin tức</h5>
                        <ul class="card-text ps-0">
                            <li>Finance</li>
                            <li>Public Sector</li>
                            <li>Smart Office</li>
                            <li>Retail</li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <h5 class="heading">Thông tin khác</h5>
                        <ul class="card-text ps-0">
                            <li>About Us</li>
                            <li>Blog</li>
                            <li>Contact</li>
                            <li>Join Us</li>
                        </ul>
                    </div>
                </div>
                <div class="divider mb-4"> </div>
                <div class="row" style="font-size:10px;">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="pull-left">
                            <p><i class="fa fa-copyright"></i> 2024 copyright</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 ">
                        <div class="pull-right mr-4 d-flex policy">
                            <div>Terms of Use</div>
                            <div>Privacy Policy</div>
                            <div>Cookie Policy</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>