@model QLKTXWEBSITE.Models.Transaction

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1>Tạo mới giao dịch</h1>

<h4>Giao dịch</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: none;">
                <label asp-for="Student.Room.Building" class="control-label">Toà</label>
                <select id="Building" asp-for="Student.Room.Building" class="form-control">
                    <option value="">Vui lòng chọn toà</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="G">G</option>
                </select>
                <span asp-validation-for="Student.Room.Building" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="Student.RoomId" class="control-label">Số phòng</label>
                <select id="RoomId" asp-for="Student.RoomId" class="form-control"></select>
                <span asp-validation-for="Student.RoomId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="StudentId" class="control-label">Sinh viên</label>
                <select id="StudentId" asp-for="StudentId" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Mô tả</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Số tiền</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="TransactionCode" class="control-label">Mã giao dịch</label>
                <input asp-for="TransactionCode" class="form-control" />
                <span asp-validation-for="TransactionCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionDate" class="control-label">Ngày giao dịch</label>
                <input asp-for="TransactionDate" class="form-control" />
                <span asp-validation-for="TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary mb-5">Quay lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Building').change(function () {
                var building = $(this).val(); // Lấy giá trị của "Toà" đã chọn
                // Gửi yêu cầu Ajax để lấy danh sách các "Số phòng" thuộc "Toà" đó
                $.ajax({
                    url: '/AdminQL/Transactions/GetRoomsByBuilding', // Đường dẫn tới action để lấy danh sách "Số phòng"
                    type: 'GET',
                    data: { building: building }, // Truyền tham số "Toà"
                    success: function (data) {
                        // Xóa tất cả các option trong dropdown list "Số phòng"
                        $('#RoomId').empty();
                        // Thêm các option mới vào dropdown list "Số phòng" dựa trên dữ liệu lấy được
                        $.each(data, function (key, value) {
                            $('#RoomId').append('<option value="' + value.value + '">' + value.text + '</option>');
                        });
                    }
                });
            });
        });
        $('#RoomId').change(function () {
            var roomId = $(this).val(); // Lấy giá trị của "Số phòng" đã chọn
            // Gửi yêu cầu Ajax để lấy danh sách sinh viên thuộc "Số phòng" đó
            $.ajax({
                url: '/AdminQL/Transactions/GetStudentsByRoom', // Đường dẫn tới action để lấy danh sách sinh viên
                type: 'GET',
                data: { roomId: roomId }, // Truyền tham số "Số phòng"
                success: function (data) {
                    // Xóa tất cả các option trong dropdown "Sinh viên"
                    $('#StudentId').empty();
                    // Thêm các option mới vào dropdown "Sinh viên" dựa trên dữ liệu lấy được
                    $.each(data, function (key, value) {
                        $('#StudentId').append('<option value="' + value.value + '">' + value.text + '</option>');
                    });
                }
            });
        });
    </script>
}
