@model QLKTXWEBSITE.Models.Service

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết dịch vụ</h1>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên dịch vụ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        <dt class = "col-sm-2">
            Dịch vụ tháng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month)/2024
        </dd>
        <dt class = "col-sm-2">
            Giá
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            Trạng thái
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Status == true)
            {
                <div class="d-flex align-items-center" style="height:38px">
                    <p class="mb-0 w-100  text-success">Đã thanh toán</p>
                </div>
            }
            else
            {
                <div class="d-flex align-items-center" style="height:38px">
                    <p class="mb-0 w-100 text-danger">Chưa thanh toán</p>
                </div>
            }
        </dd>

    </dl>
</div>
<div>
    <a href="#" onclick="window.history.back();" class="link">Quay lại</a>
</div>
