@model IEnumerable<QLKTXWEBSITE.Models.Service>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách các dịch vụ</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Tên dịch vụ
            </th>
            <th>
                Dịch vụ tháng
            </th>
            <th>
                Giá
            </th>
            <th class="text-center">
                Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)/2024
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    @if (item.Status == true)
                    {
                        <div class="d-flex align-items-center" style="height:38px">
                            <p class="mb-0 w-100 text-center text-success">Đã thanh toán</p>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex align-items-center" style="height:38px">
                            <p class="mb-0 w-100 text-center text-danger">Chưa thanh toán</p>
                        </div>
                    }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ServiceId">Xemn chi tiết</a>
            </td>
        </tr>
}
    </tbody>
</table>
