@model IEnumerable<QLKTXWEBSITE.Models.Service>

@{
    ViewData["Title"] = "Dịch vụ";
    bool hasRoom = Model.Any(x => x.RoomId != null);
}

@if (hasRoom)
{
    <div class="container">
        <h1 class="mt-5 text-center">Danh sách các dịch vụ</h1>
        <br />
        <table class="table table-striped" style="border: 2px dashed #ccc;  border-radius:5px;">
            <thead>
                <tr>
                    <th scope="col">Tên dịch vụ</th>
                    <th scope="col">Dịch vụ tháng</th>
                    <th scope="col">Giá</th>
                    <th scope="col" class="text-center">Trạng thái</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ServiceName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Month)/2024</td>
                        <td>@String.Format("{0:#,##0}", item.Price)</td>
                        <td class="text-center">
                            @if (item.Status == true)
                            {
                                <span class="btn btn-success">Đã thanh toán</span>
                            }
                            else
                            {
                                <span class="btn btn-danger">Chưa thanh toán</span>
                            }
                        </td>
                        <td>
                            <a class="text-decoration-none" asp-action="Details" asp-route-id="@item.ServiceId">Xem chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container mt-5">
        <div class="alert alert-warning" role="alert">
            <p>Hiện tại bạn chưa có phòng ở. Vui lòng đăng ký phòng và giường.</p>
        </div>
    </div>
}
