@model QLKTXWEBSITE.Models.Occupancy

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1>Tạo hợp đồng mới gia hạn mới</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Room.Building" class="control-label">Khu vực</label>
                <select id="Building" asp-for="Room.Building" class="form-control">
                    <option value="">Vui lòng chọn toà</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                </select>
                <span asp-validation-for="Room.Building" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomId" class="control-label">Số phòng</label>
                <select id="RoomId" asp-for="RoomId" class="form-control"></select>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label">Sinh viên</label>
                <select id="StudentId" asp-for="StudentId" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="RenewalDate" class="control-label">Ngày gia hạn</label>
                <input asp-for="RenewalDate" class="form-control" />
                <span asp-validation-for="RenewalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpirationDate" class="control-label">Ngày kết thúc</label>
                <input asp-for="ExpirationDate" class="form-control" />
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CycleMonths" class="control-label">Số tháng</label>
                <input asp-for="CycleMonths" class="form-control" />
                <span asp-validation-for="CycleMonths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">Trạng thái</label>
                <select asp-for="Status" class="form-control">
                    <option value="false">Chưa thanh toán</option>
                    <option value="true">Đã thanh toán</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group float-right">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div mb-5>
    <a asp-action="Index" class="btn btn-secondary btn-block col-md-2">Quay lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Building').change(function () {
                var building = $(this).val(); // Lấy giá trị của "Toà" đã chọn
                // Gửi yêu cầu Ajax để lấy danh sách các "Số phòng" thuộc "Toà" đó
                $.ajax({
                    url: '/AdminQL/Occupancies/GetRoomsByBuilding', // Đường dẫn tới action để lấy danh sách "Số phòng"
                    type: 'GET',
                    data: { building: building }, // Truyền tham số "Toà"
                    success: function (data) {
                        // Xóa tất cả các option trong dropdown list "Số phòng"
                        $('#RoomId').empty();
                        // Thêm các option mới vào dropdown list "Số phòng" dựa trên dữ liệu lấy được
                        $.each(data, function (key, value) {
                            $('#RoomId').append('<option value="' + value.value + '">' + value.text + '</option>');
                        });
                    }
                });
            });
        });
        $('#RoomId').change(function () {
            var roomId = $(this).val(); // Lấy giá trị của "Số phòng" đã chọn
            // Gửi yêu cầu Ajax để lấy danh sách sinh viên thuộc "Số phòng" đó
            $.ajax({
                url: '/AdminQL/Occupancies/GetStudentsByRoom', // Đường dẫn tới action để lấy danh sách sinh viên
                type: 'GET',
                data: { roomId: roomId }, // Truyền tham số "Số phòng"
                success: function (data) {
                    // Xóa tất cả các option trong dropdown "Sinh viên"
                    $('#StudentId').empty();
                    // Thêm các option mới vào dropdown "Sinh viên" dựa trên dữ liệu lấy được
                    $.each(data, function (key, value) {
                        $('#StudentId').append('<option value="' + value.value + '">' + value.text + '</option>');
                    });
                }
            });
        });
    </script>
}
