@model QLKTXWEBSITE.Models.Student

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1>Tạo mới</h1>

<h4>Sinh viên</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label">Họ và tên</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label">Ngày sinh</label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label">Giới tính</label>
                <select asp-for="Gender" class="form-control">
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Số điện thoại</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentPhoneNumber" class="control-label">Số điện thoại phụ huynh</label>
                <input asp-for="ParentPhoneNumber" class="form-control" />
                <span asp-validation-for="ParentPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Mật khẩu</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="StudentCode" class="control-label">Mã sinh viên</label>
                <input asp-for="StudentCode" class="form-control" />
                <span asp-validation-for="StudentCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dhid" class="control-label">Khoá</label>
                <select asp-for="Dhid" class="form-control" asp-items="ViewBag.Dhid"></select>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label">Khoa</label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Class" class="control-label">Lớp</label>
                <input asp-for="Class" class="form-control" />
                <span asp-validation-for="Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdmissionConfirmation" class="control-label">Ảnh đại diện(4x6)</label>
                <input asp-for="AdmissionConfirmation" type="file" class="form-control" />
                <span asp-validation-for="AdmissionConfirmation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomId" class="control-label">Phòng số</label>
                <select id="RoomId" asp-for="RoomId" class="form-control" asp-items="ViewBag.RoomId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BedId" class="control-label">Giường</label>
                <select id="BedId" asp-for="BedId" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div class="mt-3 mb-5">
    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $('#RoomId').change(function () {
            var roomId = $(this).val(); // Lấy giá trị của "Số phòng" đã chọn
            // Gửi yêu cầu Ajax để lấy danh sách giường thuộc "Số phòng" đó
            $.ajax({
                url: '/AdminQL/Students/GetBedsByRoomId', // Đường dẫn tới action để lấy danh sách giường
                type: 'GET',
                data: { roomId: roomId }, // Truyền tham số "Số phòng"
                success: function (data) {
                    // Xóa tất cả các option trong dropdown "Giường"
                    $('#BedId').empty();
                    // Thêm các option mới vào dropdown "Giường" dựa trên dữ liệu lấy được
                    $.each(data, function (key, value) {
                        $('#BedId').append('<option value="' + value.value + '">' + value.text + '</option>');
                    });
                }
            });
        });
    </script>
}
